* {
  margin: 0;
  padding: 0;
}

body, label, input, select, textarea  {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #37414a;
}

a, a:active, a:link {
  color: #ff4f00;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #ff7a00;
}

h1 {
	font-size: 48px;
  line-height: 52px;
}

h2 {
	font-size: 36px;
  line-height: 40px;
}

h3 {
	font-size: 24px;
  line-height: 28px;
}

h4 {
	font-size: 21px;
  line-height: 25px;
}

h5 {
  font-size: 18px;
  line-height: 22px;
}

p {
  margin-bottom: 11px;
}

dt {
	font-weight: bold;
}

dd {
	font-style: italic;
	margin: 0 0 11px 11px;
}

form {
  margin-top: 21px;
}

fieldset {
  border: none;
}

label {
  text-align: right;
  width: 80px;
  display:block;
}

input, select {
  border: 1px solid #8797a6;
  text-align: left;
  position: relative;
  top: -22px;
  left: 92px;
}

input:focus, select:focus {
  border: 2px solid #194e84;
}

form fieldset span {
  color: red;
  font-weight: bold;
  display: block;
  margin-bottom: 5.5px;
  margin-left: 92px;
}

#submit {
  border: 1px solid #8797a6;
  float: none;
  display: block;
  margin-top: 18px;
  padding: 5.5px;
  background-color: #fff;
  color: #ff4f00;
  font-weight: bold;
  text-align:center;
}

#container {
  margin: 0 auto;
  padding:48px 0;
  width: 798px;
  text-align: left;
  /*border: 1px solid purple;*/
  /*background-color:yellow;*/
}

#logo {
  font-size: 48px;
  font-weight: bold;
  color: #194e84;
  padding-bottom: 21px;
  /*background-color:purple;*/
}

#logo img {
  margin-bottom: -10px;
  margin-left: -1px;
}

#navigation {
  position: relative;
  top: -24px;
  text-align: right;
  color: #8797a6;
  /*background-color:green;*/
}

#songs {
  padding-top: 12px;
}

#songs p {
  color: #8797a6;
}

#songs a, #songs a:active, #songs a:link {
  color: #8797a6;
}

#songs a:visited {
  color: #6B96C2;
}

#songs .whitespace {
  margin-top:36px;
}

#fade {
  margin: 0 auto -248px auto;
  position: relative;
  bottom: 200px;
	/* Same width as #container */
  width: 798px; 
  height: 200px;
  background: transparent url('img/fade.png') no-repeat bottom center;
  z-index: 1;
}

#fade a {
  display: block;
  position: relative;
  top: 121px;
}