<div>
  <p>
      Simeon F. Willbanks, Song of the Moment's creator, can be contacted from his <%= link_to "portal", 'http://http://www.simeonfosterwillbanks.com/email' %>.
  </p>
  <p>
      If you have any issues, please report them on <%= link_to "GitHub", 'http://github.com/simeonwillbanks/SongOfTheMoment/issues'%>.
  </p>
</div>
