<div>
  <p>
      Simeon F. Willbanks, Song of the Moment's creator, can be contacted from his <a href="http://http://www.simeonfosterwillbanks.com/email">portal</a>.
  </p>
  <p>
      If you have any issues, please report them on <a href="http://github.com/simeonwillbanks/SongOfTheMoment/issues">GitHub</a>.
  </p>
</div>
