<div>
	<dl>
		<!--<dt>Forgot your password?</dt>
			<dd>It's OK.  We can <a href="send">send your password via email</a>.</dd>-->
		<dt>Where can I see all songs at this moment?</dt>
			<dd>Checkout a stream of <%= link_to "everybody's songs", '#' %>.</dd>
	</dl>
</div>
